<h1>Esmalteria</h1>
<br>

<div class="row">

	<div class="span6 salao-text">
		<p>
			Página em desenvolvimento...
		</p>
	</div>

	<div class="span5">
		<%= image_tag("nails2.jpg", alt: "Unhas coloridas", class: "images") %>
	</div>
	
</div>