<div class="center hero-unit">
	<div id="myCarousel" class="carousel slide">
  <!-- Carousel items -->
  <div class="carousel-inner">
    <div class="active item"><%= image_tag("http://twitter.github.com/bootstrap/assets/img/bootstrap-mdo-sfmoma-01.jpg", alt: "Facebook") %></div>
    <div class="item"><%= image_tag("http://twitter.github.com/bootstrap/assets/img/bootstrap-mdo-sfmoma-02.jpg", alt:"as") %></div>
    <div class="item"><%= image_tag("http://twitter.github.com/bootstrap/assets/img/bootstrap-mdo-sfmoma-03.jpg", alt:"as") %></div>
  </div>
  <!-- Carousel nav -->
  <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
  <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div>
</div>
