<h1>Looks</h1>
<br>

<div class="row">

	<div class="span6 salao-text">
		<p>
			Em breve você poderá conferir nesta seção as imagens de clientes antes e após a realização de serviços como
			corte, escova, progressiva, luzes, coloração, penteado, maquiagem entre outros.
		</p>
	</div>

	<div class="span5">
		<%= image_tag("makup2.jpg", alt: "Maquiagem", class: "images") %>
	</div>
	
</div>