<h1>Salão</h1>
<br>
<div class="container">
	<div class="row">
		
		<div class="span6 text-justified">
			<p>
				O Studio Belle Fiori traz para São Miguel Paulista o que há de mais moderno em técnicas e equipamentos para área de beleza e estética, prezando sempre pela qualidade dos serviços prestados e seguindo rigorosamente as normas de higiene e esterilização.
			</p>
			<p>
				Em uma área de 300m&sup2, o cliente encontrará um ambiente confortável e sofisticado, que conta com ampla sala de espera, 
				uma aconchegante lanchonete, área de esmalteria (manicure e pedicure), espaço para corte e lavatórios e salas para realização dos serviços de podologia, depilação, estética corporal e facial.
			</p>
			<p>
				Já para as noivas foi criado um espaço exclusivo, com total conforto e privacidade, para que esse momento tão especial seja realizado em grande estilo.
			</p>
		</div>

		<div class="span5">
		</div>

	</div>
</div>