$navbarBackground: #571227;
$navbarBackgroundHighlight: #571227;

@import "bootstrap";

.nav {
  font-size: 25px;
  top:90px;
}

.navbar {
  margin-bottom: 0px;
}

.navbar .nav > li > a {
  color: #fbb6af;
}

.hero-unit {
  background-color: #fbb6af;
  font-color: #571227;
  margin-bottom: 10px;
}

#social-networks {
  padding-top: 25px;
}

#conteudo {
  padding-top:5px;
  margin-top:0px;
  padding-bottom:0px;
  margin-bottom:0px;
}

/* footer */
footer {
  text-align: center;
  border-top: 1px solid #fbb6af;
  color: #ab8992;
}


