/* Declaring Variables */
$postItRotadion: -3deg;

/* Colors */
$defaultDarkColor: #260b1e;
$defaultLightColor: #fbb6af;
$defaultBackgroundColor: #fdfdec;


/* Bootstrap variables */
$navbarBackground: $defaultDarkColor;
$navbarBackgroundHighlight: $defaultDarkColor;

@import "bootstrap";
@import url(http://fonts.googleapis.com/css?family=Carme);

/* Bootstrap */
.hero-unit {
  background-color: $defaultLightColor;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  > h1 {
    font-size: 30px;
  }
}

.hero-unit p {
  font-size: 14px;
}

.navbar {
  margin-bottom: 5px;

  .nav > li > a {
    color: $defaultLightColor;
  }
}

.navbar-inner {
  border-radius: 10px;
}

.carousel {
  margin-bottom: 0px;
}


/* Classes */
.upper-bar-padding {
  padding-right: 0px;
  padding-left: 0px;
}

.social-networks-padding {
  padding-top: 20px;
}

.menu {
  font-size: 18px;
  padding-top: 75px;
  font-family: 'Carme', Verdana, Helvetica, Arial, sans-serif;
}

.map {
  border-width: 1px;
  border-style: solid;
  width: 100%;
  height: 550px;
}

.images {
  border-width: 1px;
  border-style: solid;
  border-color: $defaultBackgroundColor;
  margin-top: 9px;
}

.text-justified {
  text-align: justify;
}

.salao-text {
  width: 495px;
  text-align: justify;
}

.post-it {
  background:#fefabc; 
  padding:15px; 
  font-family: 'Gloria Hallelujah', cursive; 
  font-size:15px; 
  color: #000; 
  width:200px; 

  -moz-transform: rotate($postItRotadion);
  -webkit-transform: rotate($postItRotadion);
  -o-transform: rotate($postItRotadion);
  -ms-transform: rotate($postItRotadion);
  transform: rotate($postItRotadion);

  box-shadow: 0px 4px 6px #333;
  -moz-box-shadow: 0px 4px 6px #333;
  -webkit-box-shadow: 0px 4px 6px #333;

  > ul {
    list-style:none;
  }
}

/* HTML Elements */
footer {
  text-align: center;
  border-top: 1px solid $defaultLightColor;
  color: #ab8992;
  font-family: 'Carme', Verdana, Helvetica, Arial, sans-serif;
}

body {
  background-color: $defaultBackgroundColor;
  font-family: Verdana, Helvetica, Arial, sans-serif;
}

